:root {
  /* Colores */
  --bg: #0e0e11;
  --bg-soft: #15151a;
  --border: #23232b;

  --text: #e6e6eb;
  --muted: #9a9aa3;

  --accent: #4ba9a9;

  --textSec: antiquewhite;

  /* Tipografía */
  --font-main: 'Inter', system-ui, sans-serif;

  /* Layout */
  --max-width: 1100px;
}
